* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.banner {
  font-family: sans-serif;
  text-align: center;
  margin: 0 auto;
  max-width: 380px;
  padding: 10px;
  margin-top: 200px;

  background-color: #3730a3;
  color: aliceblue;
}
h1 {
  padding-top: 40px;
}
p {
  padding-top: 15px;
  padding-left: 45px;
  padding-right: 45px;
}
.last {
  padding-bottom: 40px;
}
